<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Табличная сетка</title>
</head>

<body>
    <div class="container">
        <div class="container__body">
            <div class="container__body__row">
                <div class="container__body__item">
                    <img src="img/632d61_4c22a330978f4b6ca21dd7c1b5d208f2_mv2_d_4080_2720_s_4_2.jpg">
                </div>
                <div class="container__body__item container__body__item--width">
                    <img src="img/632d61_50b5e4110c8e40a78eff833c1ce3ad28_mv2_d_5826_4461_s_4_2.jpg">
                </div>
                <div class="container__body__item">
                    <img src="img/632d61_b99da1fe6cb147228c88ecac6a28c5f5_mv2_d_3334_5151_s_4_2.jpg" alt="">
                </div>
                <div class="container__body__item">
                    <img src="img/632d61_c25670439bb44a58a5bb04a744721674_mv2_d_2480_3508_s_4_2.jpg">
                </div>
            </div>
            <div class="container__body__row">
                <div class="container__body__item">
                    <img src="img/632d61_cd340fc425884b669dffe3e4932a3b92_mv2.jpg" alt="">
                </div>
                <div class="container__body__item">
                    <img src="img/cat-4514204_1920.jpg" alt="">
                </div>
                <div class="container__body__item">
                    <img src="img/doll-4512888_1920.jpg" alt="">
                </div>
                <div class="container__body__item container__body__item--width">
                    <img src="img/path-4518094_1920.jpg" alt="">
                </div>
            </div>
        </div>
    </div>


</body>

</html>