<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Фигура css</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="box">
        <div class="head">
            <div class="head-copy"></div>
            <div class="ear-left">
                <div class="inner-ear"></div>
            </div>
            <div class="ear-right">
                <div class="inner-ear"></div>
            </div>
            <div class="eye-left">
            </div>
            <div class="eye-right">
            </div>
            <div class="snout">
                <div class="nose">
                </div>
                <div class="bridge"></div>
                <div class="paci">
                    <div class="mid"> </div>
                    <div class="ring"> </div>
                </div>
            </div>
        </div>
    </div>
</body></html>