<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Фигура css</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="box">
        <div class="box__head">
            <div class="box__head-copy"></div>
            <div class="head__ear">
                <div class="head__inner-ear"></div>
            </div>
            <div class="head__ear head__ear--right">
                <div class="head__inner-ear"></div>
            </div>
            <div class="head__eye head__eye--left">
            </div>
            <div class="head__eye head__eye--right">
            </div>
            <div class="head__snout">
                <div class="snout__nose">
                </div>
                <div class="snout__bridge"></div>
                <div class="snout__paci">
                    <div class="paci__mid"> </div>
                    <div class="paci__ring"> </div>
                </div>
            </div>
        </div>
    </div>
</body></html>