:root {
    --brown: #916953;
    --pink: #FCB5B5;
    --blue: #96d9f7;
    --red: #e56161;
}

body {
    background: var(--blue);
}

.box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 600px;
    height: 420px;
    background: none;
}

.head {
    position: absolute;
    top: 16.5%;
    left: 25%;
    width: 50%;
    height: 67%;
    background: var(--brown);
    border-radius: 50%;
}

.head-copy {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--brown);
    border-radius: 50%;
    z-index: 2;
}

.ear-left {
    position: absolute;
    width: 30%;
    height: 30%;
    top: -5%;
    background: var(--brown);
    border-radius: 50%;
    z-index: 1;
}

.ear-right {
    position: absolute;
    width: 30%;
    height: 30%;
    right: 0;
    top: -5%;
    background: var(--brown);
    border-radius: 50%;
    z-index: 1;
}

.inner-ear {
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: var(--pink);
}

.eye-left {
    position: absolute;
    background: black;
    width: 5%;
    height: 5%;
    top: 50%;
    left: 33%;
    border-radius: 50%;
    z-index: 3;
}

.eye-right {
    position: absolute;
    background: black;
    width: 5%;
    height: 5%;
    top: 50%;
    right: 33%;
    border-radius: 50%;
    z-index: 3;
}

.snout {
    position: absolute;
    background: var(--pink);
    width: 26%;
    height: 25%;
    left: 37%;
    top: 55%;
    border-radius: 50px;
    z-index: 4;
}

.nose {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 25%;
    height: 15%;
    background: black;
    border-radius: 100%;

}

.bridge {
    position: absolute;
    top: 15%;
    left: 45%;
    width: 3%;
    height: 25%;
    background: black;
}


.paci {
    position: absolute;
    top: 40%;
    left: 23%;
    width: 55%;
    height: 40%;
    background: var(--blue);
    border-radius: 20px;

}

.mid {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 50%;
    height: 70%;
    background: var(--red);
    border-radius: 50%;
}

.ring {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 50%;
    height: 70%;
    border-radius: 50%;
    border: 2px solid var(--red);
}
