<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" >
    <title>Document</title>
</head>
<body>
    <svg width="1300" height="700" xmlns="http://www.w3.org/2000/svg">
    
    <circle r="100" cx="340" cy="450" stroke="#fff" fill="#fff" />
    
    <path d="M 0 430 L 50 380 C 100 380, 150 380, 200 400 C 250 450, 300 450, 400 460 L 500 400 L 720 500 L 900 420 L 1200 500 L 1250 480 L 1300 440 V 700 H 0 Z " stroke="#d6904b" fill="#d6904b" />
    
    <path d="M 0 430 C 20 470, 30 500, 50 500 L 250 450 L 450 500 L 700 450 L 900 500 L 1100 420 C 1150 470, 1150 480 ,1160 480 L 1300 520 V 700 H 0 Z" stroke="#814104" fill="#814104" />
    
    <path d="M 0 550 C 100 500, 150 500, 200 450 L 550 550 L 750 500 L 850 550 L 1150 500 L 1250 550 S 1300 550, 1300 520 V 700 H 0 Z " stroke="#333" fill="#333" />
    
    <rect x="100" y="120" width="180" height="30" rx="15"
          fill="#ffefba" stroke="#ffefba" />
    
    <rect x="160" y="140" width="90" height="30" rx="15"
          fill="#ffefba" stroke="#ffefba" />
          
    <rect x="760" y="50" width="60" height="30" rx="15"
          fill="#fcc6b2" stroke="#fcc6b2" />
              
    <rect x="730" y="70" width="150" height="30" rx="15"
          fill="#fcc6b2" stroke="#fcc6b2" />
          
    <rect x="820" y="90" width="50" height="30" rx="15"
          fill="#fcc6b2" stroke="#fcc6b2" />
          
    <rect x="920" y="220" width="90" height="20" rx="15"
          fill="#fcc6b2" stroke="#fcc6b2" />
          
    <rect x="940" y="235" width="200" height="20" rx="15"
          fill="#fcc6b2" stroke="#fcc6b2" />
    
    <path d="M700,350 Q760,325 800,350 Q820,325 900,350 Q800,335 800,370 Q800,335 700,350 " stroke="#333" fill="#333" transform="scale(0.5) translate(700,350) rotate(-10)"/>
    
    <rect x="950" y="400" width="15" height="150" rx="10"
          stroke="#333" fill="#333" />
          
    <rect x="950" y="480" width="40" height="15" rx="10"
          stroke="#333"  fill="#333"/>
          
    <rect x="978" y="444" width="15" height="50" rx="10"
          stroke="#333" fill="#333" />
    
    <rect x="920" y="470" width="40" height="15" rx="15"
         stroke="#333" fill="#333" />
          
    <rect x="920" y="425" width="15" height="60" rx="10"
         stroke="#333" fill="#333" />
    
    <rect x="490" y="420" width="10" height="80" rx="5"
          stroke="#814104" fill="#814104" />
          
    <rect x="490" y="460" width="25" height="10" rx="5"
         stroke="#814104" fill="#814104"/>
          
    <rect x="509" y="439" width="10" height="30" rx="5"
         stroke="#814104" fill="#814104" /> 
          
    <rect x="475" y="470" width="20" height="10" rx="5"
         stroke="#814104" fill="#814104" />
         
    <rect x="475" y="429" width="8" height="50" rx="5"
         stroke="#814104" fill="#814104" />
         
    <rect x="467" y="455" width="13" height="5" rx="5"
        stroke="#814104" fill="#814104" />
         
    <rect x="467" y="435" width="5" height="25" rx="5"
         stroke="#814104" fill="#814104" />               
         
    
</svg>
</body>
</html>