<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <table width="500px" height="500px" border="1px" style="border-collapse: collapse; border-color: black">
            <tr>
                <td colspan="7" style="background: #06446a"></td>
            </tr>
            <tr>
                <td rowspan="5" style="background: #be8ee2"></td>
                <td colspan="5" style="background: #eb8fe4"></td>
                <td rowspan="6" style="background: #69239d"></td>        
            </tr>
            <tr>
                <td rowspan="3" style="background: #fcd8f8"></td>
                <td colspan="3" style="background: #ffacac"></td>
                <td rowspan="4" style="background: #dcc6ed"></td>
            </tr>
            <tr>
                <td style="background: #a72f7d"></td>
                <td style="background: #641439"></td>
                <td rowspan="2" style="background: #e098bc"></td>
            </tr>
            <tr>
                <td colspan="2" style="background: #d9587b"></td>
            </tr>
            <tr>
                <td colspan="4" style="background: #e2cbdd"></td>
            </tr>
            <tr>
                <td colspan="6" style="background: #8536e0"></td>
            </tr>
        </table>
    </body>
</html>